* {
  --blue: #3097bf;
  --green: #add90d;
  --yellow: #f2b807;
  --orange: #f27405;
  --red: #f21313;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Platypi', serif;
}

.sedan-regular {
  font-family: 'Sedan', serif;
  font-weight: 400;
  font-style: normal;
}

.sedan-regular-italic {
  font-family: 'Sedan', serif;
  font-weight: 400;
  font-style: italic;
}

a {
  text-decoration: none;
  color: black;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
}
